.tag-cloud__item {
  color: #fff;
  background: #989898;
  padding: 6px 8px;
  border-radius: 4px;
  font-family: $font-Overpass;
  margin-left: 6px;
  margin-bottom: 6px;
  transition: 0.3s all $ease-out-quad;
  position: relative;
  top: 0;
  
  @extend %fl;
  @include except(margin-let, 1);
  @include vertical-rythme(rem(16px));
  
  &:hover {
    top: -2px;
    box-shadow: 0 2px 0 0 darken(hsl(0, 0%, 60%), 40);
  }
}