.hamberger--actived span {
  &:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }
  &:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  &:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
  }
}