@mixin hamberger-size($width, $height) {
  @include size($width, $height);
  
  > span {
    @include size(100%, $height*0.2);
    
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 50%;
      margin-top: -($height*0.2 / 2);
    }
    &:nth-child(3) {
      top: 100%;
      margin-top: -$height*0.2;
    }
  }
}

.hamberger {
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  
  @extend %fl;

  span {
    display: block;
    position: absolute;
    left: 0;
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
}
