.setting-icon {
  color: #fff;
  background: inherit;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 22px;
  outline: none;
  
  @extend %material-icons;
  @include position(0 -42px null null);
  @include size(42px);
  
  &:hover {
    background: tint(#454545, 5);
  }
}