@mixin center (
  $horizontal-center: false,
  $vertical-center: false,
  $position: absolute
  ) {
    position: $position;
    
  @if($horizontal-center != false and
    $vertical-center != false) {
      top: 50%;
      left: 50%;
      @if(type_of($horizontal-center) == bool) {
        transform: translate(-50%, -50%);
      }@else {
        margin-left: -$horizontal-center / 2;
        margin-top: -$vertical-center / 2;
      }
    }@else {
      @if($horizontal-center == true) {
        left: 50%;
        transform: translateX(-50%);
      }@else if(type_of($horizontal-center) == number) {
        left: 50%;
        margin-left: -$horizontal-center / 2;
      }
      
      @if($vertical-center == true) {
        top: 50%;
        transform: translateY(-50%);
      }@else if(type_of($vertical-center) == number) {
        top: 50%;
        margin-top: -$vertical-center / 2;
      }
    }
}