include config/_article-view-config
doctype html
+b('no-js', { t: 'html' })(lang=docLang)
  include packages/basic/_top
  +b('article-view', { t: 'body' })
    include packages/basic/_skip-navigation
    include packages/partial/_article-view
    script
      include packages/others/js/facebook-sdk.js
    include packages/basic/_bottom