.contact-info__list {
  text-align: center;
  font-family: $font-Overpass;
  letter-spacing: -0.02em;
  
  @extend %container;
  @include vertical-rythme(rem(18px), rem(26px));
  
  > span {
    color: #686666;
  }
  
  a {
    text-decoration: underline;
  }
}