.side-bar-panel__read-more {
  padding: 3px 6px;
  display: block;
  border-bottom: 1px solid #ebebeb;
  transition: 0.2s $ease-in-cubic;
  
  @include vertical-rythme(rem(16px));
  @include container-center(104px);
  
  &:hover {
    border-bottom-color: darken(hsl(0, 0%, 92%), 30);
  }
}