.subscribe__input {
  letter-spacing: 0.08em;
  vertical-align: bottom;
  
  @include size(240px, 35px);
  
  &:nth-of-type(2) {
    margin: 0 15px;
  }
  @include breaking($bp1020, below) {
    width: calc(33.33% - 30px);
  }
  @include breaking($bp600, below) {
    width: 90%;
    
    &:nth-of-type(2) {
      margin: 10px 0;
    }
  }
}
