.subscribe__subscribe-submit {
  display: inline-block;
  letter-spacing: 0.06em;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  transition: 0.3s all $ease-out-cubic;
  
  @include size(200px, 35px);
  
  &:hover {
    
  }
}