@mixin hover-transition-help() {
// hover-transition mixin 설명
    @error 
    "
        /*---------------------*\

          hover-transition mixin
                사용 설명
        \*---------------------*/
        hover-transition mixin
        @param = {
            $origin-color:        !default : #000,
            $hover-color:         !default : #ff0000,
            $out-duration:        !default : 0.4s,
            $in-duration:         !default : 0.6s,
            $out-timing-function: !default : $ease-in-cubic,
            $in-timing-function:  !default : $ease-out-cubic 
        }
        @property = {
            color: $origin-color;
            transition: color $out-duration $out-timing-function;
        
                &:hover {
                    color: $hover-color;
                    transition: color $in-duration $in-timing-function;
                }
        }
        @description = {
            텍스트의 hover 컬러 변경과 transition 효과를 한번에 주기위한
            믹스인 입니다
            ex) hover-transition(blue, pink, 0.3s, 0.5s, linear, $ease-out);
        }
    ";
}