$main-color: rgb(35, 174, 244);

.handler__author {
  color: $main-color;
}

.handler__heading {
  border-bottom-color: $main-color;
}

.hamberger {
  span {
    background: $main-color;
  }
}

.progress-bar {
  &::-webkit-progress-bar {
    background-color: tint($main-color, 80);
  }

  &::-webkit-progress-value {
    background-color: $main-color;
  }
}

.nav {
  background: tint($main-color, 40);
}

.independent-article__category {
  color: $main-color;
}

.button--theme-flat:hover {
  background: $main-color;
}

.share:hover hr {
  border-bottom-color: $main-color;
}

.share__item {
  div {
    color: $main-color;
  }
  
  &:hover {
    border-color: $main-color;
    
    div {
      color: tint($main-color, 40);
    }
  }
}

@keyframes handler-arrow-on {
  0% {
    background: transparent;
  }
  100% {
    background: $main-color;
  }
}

@keyframes handler-arrow-off {
  0% {
    background: $main-color;
  }
  100% {
    background: transparent;
  }
}

.side-bar-panel__heading--type-outer {
  border-top: 1px solid $main-color;
}

.toggle-button-label {
  color: $main-color;
}

.side-bar-panel__form-area {
  .form-area__fieldset {
    background: tint($main-color, 80);
  }
}

.form-area__input--submit {
  background: $main-color;
}

.side-bar-panel__share {
  .share__item:hover {
    background: $main-color;
  }
}

.side-bar-panel__read-more {
  color: $main-color;
}

.category-list__list {
  color: $main-color;
  
  &:hover {
    border-bottom-color: $main-color;;
  }
}