$main-color: rgb(30, 144, 255);

.handler__author {
  color: $main-color;
}

.handler__heading {
  border-bottom-color: $main-color;
}

.hamberger {
  span {
    background: $main-color;
  }
}

.handler--theme-main_visual {
  &:hover {
    background: $main-color;
  }
}

.progress-bar {
  &::-webkit-progress-value {
    background-color: $main-color;
  }
}

.nav {
  background: tint($main-color, 40);
}

.independent-article__category {
  color: $main-color;
}

.button--theme-flat:hover {
  background: $main-color;
}

.share:hover hr {
  border-bottom-color: $main-color;
}

.share__item {
  
  div {
    color: $main-color;
  }
  
  &:hover {
    border-color: $main-color;
    
    div {
      color: tint($main-color, 40);
    }
  }
  
}












