// 좌우 반전 믹스인
@mixin mirror(
  $args...
  ) {
  $number-value-list: ();
  $mirror-value-list: (
    left: right,
    right: left,
    ltr: rtl,
    rtl: ltr,
    text-align: left
  );

  @for $i from 1 through length($args) {
    @if(type-of(nth(nth($args, $i), 2)) == 'number') {
      $number-value-list: append($number-value-list, nth(nth($args, $i), 2));
    }

    #{nth(nth($args, $i), 1)}: nth(nth($args, $i), 2);
  }

  #{$mirror-root} & {
    @for $i from 1 through length($args) {
      #{nth(nth($args, $i), 1)}: map-get($mirror-value-list, nth(nth($args, $i), 2));

      @if(map-get($mirror-value-list, nth(nth($args, $i), 2)) == null) {
        $hyphenLeftPropertyText: str-slice(nth(nth($args, $i), 1), 1, str-index(nth(nth($args, $i), 1), '-') - 1);
        $hyphenRightPropertyText: map-get($mirror-value-list, str-slice(nth(nth($args, $i), 1), str-index(nth(nth($args, $i), 1), '-') + 1 ));

        #{nth(nth($args, $i), 1)}: 0;
        #{$hyphenLeftPropertyText + '-' + $hyphenRightPropertyText}: nth(nth($args, $i), 2);
      }
    }
  }
}