// youtube iframe을 반응형으로 만들어주는 믹스인

@mixin responsive-youtube($padding-bottom : 56.25%) {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: $padding-bottom;
  width: 100%;
  height: 0;
  
  @extend %fl;
  
  > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#test2 {
  float: left;
  width: 15.38%;
  height: 200px;
  background: lightgreen;
  margin-bottom: 100px;
  height: 0;
  padding-top: 30.77%;
}

#test {
  float: left;
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

