- var pageName = 'Boolean99 Blog'
- var locationOrigin = 'http://localhost:3000'
- var pathname = ''

//- nav
-
  var navList = [
    'HOME',
    'ABOUTME',
    'POSTS',
    'CONTACT'
  ]

//- sns
-
  var snsList = [
    'facebook',
    'twitter',
    'googleplus',
    'reply'
  ]

//- main
- var mainVisualDotNum = 3

