- var pageName = 'Boolean99 Blog'

//- nav
-
  var navList = [
    'HOME',
    'ABOUTME',
    ['POSTS', 'HTML5', 'CSS3', 'ES2015', 'JavaScript', 'NodeJs'],
    'CONTACT'
  ]

//- sns
-
  var snsList = [
    'facebook',
    'twitter',
    'reply'
  ]

//- main
- var mainVisualDotNum = 3

