.other-articles__link {
  display: inline-block;
  text-align: center;
  position: relative;
  padding-top: 67%;
  
  @extend %flcl;
  @include size(100%, 0);
  
  &:last-of-type {
    padding-top: 0;
    height: auto;
  }
}

