.share {
  position: relative;
  height: 40px;
  
  @extend %wide-auto;
  
  hr {
    z-index: 1;
    width: 100%;
    height: 1px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    transition: $share-transition;
    
    @include center(true, true);
  }
}