.handler__heading {
  width: calc(100% - 110px);
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  
  @include vertical-rythme(rem(18px));
}

.handler__preview--left {
  .handler__heading {
    @include mirror(float left, text-align right);
  }
}

.handler__preview--right {
  .handler__heading {
    @include mirror(float right, text-align left);
  }
}

.handler__preview:hover {
  .handler__heading {
    text-decoration: underline;
  }
}