.handler--theme-main_visual {
  color: #fff;
  
  @include size(45px, 80px);
  
  &:hover {
    @include size(355px, 120px);
  }

  &:hover .handler__arrow {
    animation-delay: 0s;
    animation-name: handler-arrow-on;
  }
}
