/*hover*/

$mobile-bg: #4c4c4c;

.temporary-another-body {
  background: transparent;
  z-index: 9999;
  
  @include position(fixed, 0 0 0 0);
  
  .nav__hamburger {
    @include hamburger-size(40px, 25px);

    top: auto;
    transform: none;
    right: 20px;
    bottom: 20px;
    display: block;
    position: absolute;

    &.hamburger--activated {
      @include hamburger--activated-size(25px, 18px);
    }
    
    > span {
      background: $mobile-bg;
    }
  }
  
  .nav {
    height: 100%;
    padding-top: 30px;
    
    background-color: transparent !important;
  }
  
  .nav__list {
    margin: 0;
    height: auto;
    clear: left;
    float: left;
    margin-top: 15px;
    
    @include except(margin-top, first);
    @include center(true, false, relative);
    @include breaking($bp800, below) {
      display: block;
    }
    
    > .nav__item {
      @include center(true, false, relative);
    }
  }
  
  .nav__item {
    background: $mobile-bg;
    color: #fff;
    border-radius: 20px;
    line-height: 100%;
    padding: 12px 18px;
    width: auto;
    
    > span {
      display: none !important;
    }
  }
  
  .nav__sub {
    display: block;
    padding: 0;
    color: inherit;
    background: inherit;
    position: static;
    float: left;
    clear: both;
    width: auto;
    
    .nav__list {
      margin-top: 10px;
      left: 0;
      transform: none;
      width: auto;
      
      @include center(true, false, relative);
    }
    
    .nav__item {
      background: tint($mobile-bg, 10) !important;
      color: #fff;
      border: none !important;
      font-size: 0.8em;
    }
  }
  
  
  
  
  
}









