/*hover*/

$mobile-bg: #4c4c4c;

#temporary-another-body {
  background: transparent;
  z-index: 9999;
  
  @include position(fixed, 0 0 0 0);
  
  .nav__hamburger {
    top: auto;
    transform: none;
    bottom: 20px;
    position: absolute;

    > span {
      background: $mobile-bg;
    }
  }
  
  .nav {
    height: 100%;
    padding-top: 10vh;
    
    background-color: transparent;

    > .nav__list {
      &:first-of-type {
        > .nav__item {
          margin-top: 0;
          animation-name: home;
          left: 50%;
          transform: translateX(-50%);
          top: -15vh;
        }
      }
    }
    
    @for $i from 1 through 11 {
      @if($i > 3 and $i < 9) {
        .nav__sub {
          .nav__list:nth-of-type(#{$i - 3}) {
            .nav__item {
              animation-delay: ($i*0.15)+s;
            }
          }
        }
      }@else {
        > .nav__list {
          @if($i >= 9) {
            &:nth-of-type(#{$i - 5}) {
              > .nav__item {
                animation-delay: ($i*0.15)+s;
              }
            }
          }@else {
            &:nth-of-type(#{$i}) {
              > .nav__item {
                animation-delay: ($i*0.15)+s;
              }
            }
          }
        }
      }
    }
  }
  
  .nav__list {
    margin: 0;
    height: auto;
    clear: left;
    float: left;
    width: 100%;
    
    @include breaking($bp800, below) {
      display: block;
    }
  }
  
  .nav__item {
    background: $mobile-bg;
    color: #fff;
    border-radius: 20px;
    line-height: 100%;
    min-width: 250px;
    padding: 10px 0;
    height: auto;
    left: -250px;
    position: relative;
    animation-duration: 0.3s;
    animation-name: slide;
    animation-fill-mode: both;
    margin-top: 10px;
    
    > span {
      display: none !important;
    }
  }
  
  .nav__sub {
    display: block;
    position: static;
    float: left;
    clear: both;
    width: 100%;
    top: 0;
    
    .nav__item {
      background: tint($mobile-bg, 10);
      border: none !important;
      font-size: 0.8em;
      width: 200px;
      min-width: auto;
      text-align: center;
    }
  }
}

@keyframes home {
  100% {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes slide {
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}