@if($compile-standard == 'sidebar-deactivated') {
  .contents-section__container--sidebar-deactivated {
    .article-list {
      width: 100%;
    }

    .side-bar {
      display: none;
    }

    .article-list--layout-standard {
      .independent-article {
        padding-right: 0;
        padding-left: 0;
      }
    }
    
    .article-list--layout-grid {
      .independent-article {
        &:nth-of-type(2n-1) {
          padding-left: 0;
        }

        &:nth-of-type(2n) {
          padding-right: 0;
        }
      }
    }
  }
}