.nav__list {
  color: #000;
  font-family: $font-Overpass;
  display: inline-block;
  height: 100%;
  margin: 0 5px;
  transition: 0.2s all $ease-in-out-cubic;
  position: relative;
  
  @extend %none-select;
  @include vertical-rythme(rem(16px));
  
  @include breaking($bp800, below) {
    display: none;
  }
  
  &:hover {
    .nav__sub {
      display: block;
    }
  }
}
