.paging__elm {
  border: 3px solid #fff;
  cursor: pointer;
  transition: 0.3s $ease-out-cubic;
  
  @include size(14px);
  @include except(margin-left, 1);
  @include mirror(float left, margin-left 8px);
  
  &:hover {
    background: #fff;
  }
  
  #{$mirror-root} &:first-of-type {
    margin-right: 0;
  }
}